.cart-left {
    width: 100%;
    background: #edf5e1;
    border-radius: 10px;
    padding: 40px;
    .cart-left-header {
      p {
        text-align: center;
        font-family: Poppins;
        font-size: 24px;
        font-weight: 600;
      }
    }
  }